
*{
	/* outline: solid 1px green; */
	box-sizing: border-box;
}

:root{
	font-size: 25px;
	font-family: 'Raleway', sans-serif;;
	--btn-skip-size: 4vw;
	--ctn-width: 90%;
	--ctn-height: 80%;
	--border-rds-level: 80px;
	--btn-skp-top: 89vh;
}

.container{
	width: 100vw;
	height: 100vh;
}

/* bagian header atau halaman awal */
.header{
	display: none;
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-image: url(img/23618.jpg);
	background-size: cover;
	background-color: rgb(214, 202, 255);
	color: rgb(255, 255, 255);
}

.header .header-content{
	background-color: rgba(0,0,0,.6);
	width: inherit;
	height: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header .header-content .introduce{
	width: 80vw;
	text-align: center;
}

.header .header-content .introduce h2{
	margin-bottom: 1rem;
	font-size: 2rem;
}

.header .header-content .introduce p{
	font-weight: bolder;
}


/* bagian kontent atau halaman ke dua */
.container-content{
	position: absolute;
	z-index: 0;
	width: 100%;
	height: 100%;
	background-image: url(img/bg-content.jpg);
	background-size: cover;
	background-position-x: 30%;
	background-color: rgba(0,0,0,1);
}

.content{
	position: absolute;
	top: calc(50% - (var(--ctn-height) / 2));
	left: calc(50% - (var(--ctn-width) / 2));
	width: var(--ctn-width);
	height: var(--ctn-height);
	background-color: rgba(188, 204, 210, 0.8);
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
}

.content .penengah{
	width: inherit;
}

.content .penengah span{
	display: flex;
	flex-direction: column;
	width: inherit;
}

.content .penengah .about-me{
	visibility: visible;
}



.content .penengah .my-skill{
	visibility: hidden;
}

.content .penengah .my-skill > p:nth-child(3),
.content .penengah .my-skill > p:nth-child(5){
	margin-top: 50px;
}

.content .penengah .my-skill > div{
	margin: 10px 0;
	height: 5px;
	width: inherit;
	background-color: rgb(167, 167, 167);
	border-radius: var(--border-rds-level);
}

.content .penengah .my-skill .html-level-container .html-level-content{
	height: inherit;
	width: 5%;
	border-radius: var(--border-rds-level);
	background-color: rgb(232, 79, 44);
}

.content .penengah .my-skill .css-level-container .css-level-content{
	height: inherit;
	width: 3%;
	border-radius: var(--border-rds-level);
	background-color: rgb(69, 120, 214);
}

.content .penengah .my-skill .js-level-container .js-level-content{
	height: inherit;
	width: 15%;
	border-radius: var(--border-rds-level);
	background-color: rgb(255, 255, 47);
}

.content .penengah .my-project{
	visibility: hidden;
}


.skip-btn{
	position: absolute;
	z-index: 2;
	top: var(--btn-skp-top);
	left: calc(50vw - var(--btn-skip-size) / 2);
	width: var(--btn-skip-size);
	height: var(--btn-skip-size);
	border-top: solid 5px white;
	border-left: solid 5px white;
	transform: rotate(225deg);
	opacity: 0;
	animation: btn-animation 1s infinite alternate-reverse ease-in;
}

@keyframes btn-animation {
	0%{top: var(--btn-skp-top);}
	70%{opacity: .1;}
	100%{top: calc(var(--btn-skp-top) + 5px); opacity: .1;}
}


















/* reset */



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* input reset */
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}