/* 
	--konsep baru--
	IDE ANIMASI LATAR BELAKANG.
	konsep animasi: dot pemandu
	ide: ketika browser awal di buka akan di tampilkan teks pembkaan pada posisi kiri 
		 user dan sebuah dot atau lingkaran besar yang bercahaya ada dikanan user dot tsb akan mengelurkan cahaya yang berdenyut setipa satu detik dengan dua kali berdenyut. saat tombol menuju ke halaman selanjutnya di tekan maka dot akan bergerak meliuk ke kiri sambil meneceil sehingga bola tsb bergerak menjauh atau pergi
		 
	IDE ANIMASI BTN SKIP HALAMAN.
	konsep animasi: memeberi kode.
	ide: tombol yang berbentuk panah tsb akan bergerak kebewah sebanyak dua kali dengan 
		 cepat dan di iringi warnya yang memekat, dengan interval waktu 5 mili detik 
*/





*{
	/* outline: solid 1px green; */
	box-sizing: border-box;
}

:root{
	font-size: 20px;
	font-family: sans-serif;
	--btn-skip-size: 6vw;
}

.container{
	width: 100vw;
	height: 100vh;
}


.header{
	width: 100%;
	height: 100%;
	background-color: rgb(6, 3, 18);
	color: white;
}

.header >.header-content{
	width: inherit;
	height: inherit;
	display: flex;
	align-items: center;
}

.header >.header-content >.introduce{
	margin-left: 100px;
	width: 50%;
}

.header > .dot{
	position: absolute;
	top: calc(50vh - 150px);
	left: calc(70vw);
	width: 300px;
	height: 300px;
	background-color: rgb(122, 182, 255);
	border-radius: 50%;
	box-shadow: 0 0 80px 10px rgb(102, 161, 255);
}


@keyframes animasi-dot{
	
}


.header >.skip-btn{
	position: absolute;
	top: 82vh;
	left: calc(50vw - var(--btn-skip-size) / 2);
	width: var(--btn-skip-size);
	height: var(--btn-skip-size);
	border-top: solid 5px white;
	border-left: solid 5px white;
	transform: rotate(225deg);
	opacity: .1;
}


















/* reset */



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* input reset */
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}