
*{
	/* outline: solid 1px green; */
	box-sizing: border-box;
}

:root{
	font-size: 2vw;
	font-family: 'Raleway', sans-serif;
	--btn-skip-size: 4vw;
	--ctn-width: 90%;
	--ctn-height: 80%;
	--border-rds-level: 80px;
	--btn-skp-top: 88vh;
	--slider-bg-color: rgb(110, 119, 152);
	--slider-arrow-size: 18px;
	--slider-border-size: 2px;
	--slider-dot-size: 5px;
}

.container{
	/* font-size: 25px; */
	width: 100vw;
	height: 100vh;
}

/* bagian header atau halaman awal */
.header{
	visibility: visible;
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-image: url(img/23618.jpg);
	background-size: cover;
	background-color: rgb(214, 202, 255);
	color: rgb(255, 255, 255);
}

.header .header-content{
	background-color: rgba(0,0,0,.6);
	width: inherit;
	height: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header .header-content .introduce{
	width: 80vw;
	text-align: center;
}

.header .header-content .introduce h2{
	margin-bottom: 1rem;
	font-size: 2rem;
}

.header .header-content .introduce p{
	font-weight: bolder;
}


/* bagian kontent atau halaman ke dua */
.container-content{
	visibility: hidden;
	position: absolute;
	z-index: 0;
	width: 100%;
	height: 100%;
	background-image: url(img/bg-content.jpg);
	background-size: cover;
	background-position-x: 30%;
	background-color: rgba(0,0,0,1);
}

.content{
	position: absolute;
	top: calc(50% - (var(--ctn-height) / 2));
	left: calc(50% - (var(--ctn-width) / 2));
	width: var(--ctn-width);
	height: var(--ctn-height);
	background-color: rgba(186, 204, 215, 0.8);
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}

.content .penengah{
	width: calc(var(--ctn-width) + 5%);
}

.content .penengah span{
	width: inherit;
}



/* content bagian about me */
.content .penengah .about-me{
	color: rgb(48, 58, 74);
	font-weight: bold;
	display: block;
	/* font-size: 1.2rem; */
}



/* content bagian skill */
.content .penengah .my-skill{
	display: none;
}

.content .penengah .my-skill > p:nth-child(n+2){
	margin-top: 35px;
}

.content .penengah .my-skill > div{
	margin: 10px 0;
	height: 5px;
	width: inherit;
	background-color: rgb(142, 144, 152);
	border-radius: var(--border-rds-level);
}

.content .penengah .my-skill .html-level-container .html-level-content{
	height: inherit;
	width: 5%;
	border-radius: var(--border-rds-level);
	background-color: rgb(232, 79, 44);
}

.content .penengah .my-skill .css-level-container .css-level-content{
	height: inherit;
	width: 3%;
	border-radius: var(--border-rds-level);
	background-color: rgb(69, 120, 214);
}

.content .penengah .my-skill .js-level-container .js-level-content{
	height: inherit;
	width: 15%;
	border-radius: var(--border-rds-level);
	background-color: rgb(255, 255, 47);
}

.content .penengah .my-skill .ps-level-container .ps-level-content{
	height: inherit;
	width: 50%;
	border-radius: var(--border-rds-level);
	background-color: rgb(26, 23, 214);
}




/* content bagian my project */
.content .penengah .my-project{
	display: none;
	width: 100%;

}

.content .penengah .my-project .my-project-content{
	display: flex;
}

.content .penengah .my-project .my-project-content div{
	height: 64vh;
	width: 100%;
	margin: 0 10px;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}


.content .penengah .my-project .my-project-content > div > p{
	visibility: hidden;
	width: inherit;
	background-color: rgba(191, 253, 255, 0.5);
	text-align: center;
	padding: 5px 0;
	font-weight: 300;
	opacity: 0;
	transition: .5s;
}

.content .penengah .my-project .my-project-content div:hover p{
	visibility: visible;
	opacity: 1;
}


.content .penengah .my-project .my-project-content .project-1{
	background-image: url(img/wa-image.jpg);
	background-size: cover;
}


.content .penengah .my-project .my-project-content .project-2{
	background-image: url(img/hamzah-image.jpg);
	background-size: cover;
	background-position: 50%, 0;
}


.content .penengah .my-project .my-project-content .project-3{
	background-image: url(img/dot-image1.jpg);
	background-size: cover;
	background-position: 50%, 0;
}



/* bagaian bawah pada content, sebagai penggeser isi kontent */
.slider-container{
	width: 100%;
	height: 40px;
	position: absolute;
	z-index: 4;
	bottom: 10.5%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.slider-container .arrow-left{
	height: var(--slider-arrow-size);
	width: var(--slider-arrow-size);
	margin: 10px;
	border-left: solid var(--slider-border-size) var(--slider-bg-color);
	border-top: solid var(--slider-border-size) var(--slider-bg-color);
	transform: rotate(-45deg);
}


.slider-container div:nth-child(2),
.slider-container div:nth-child(3),
.slider-container div:nth-child(4){
	height: var(--slider-dot-size);
	width: var(--slider-dot-size);
	background-color: var(--slider-bg-color);
	border-radius: 50%;
	margin: 0 3px;
}


.slider-container .arrow-right{
	height: var(--slider-arrow-size);
	width: var(--slider-arrow-size);
	margin: 10px;
	border-right: solid var(--slider-border-size) var(--slider-bg-color);
	border-bottom: solid var(--slider-border-size) var(--slider-bg-color);
	transform: rotate(-45deg);
}




/* skip btn yang ada pada di container luar */
.skip-btn{
	position: absolute;
	z-index: 2;
	top: var(--btn-skp-top);
	left: calc(50vw - var(--btn-skip-size) / 2);
	width: var(--btn-skip-size);
	height: var(--btn-skip-size);
	border-top: solid 5px white;
	border-left: solid 5px white;
	transform: rotate(225deg);
	opacity: 0;
	animation: btn-animation 1s infinite alternate-reverse ease-in;
}

@keyframes btn-animation {
	0%{top: var(--btn-skp-top);}
	70%{opacity: .1;}
	100%{top: calc(var(--btn-skp-top) + 5px); opacity: .1;}
}





/* responsif */



@media screen and (max-width: 900px){
	.header .header-content .introduce {font-size: 2rem;}
	.header .header-content .introduce h2{font-size: 3.5rem;}
	.container-content{font-size: 1.3rem;}
	.skip-btn{
		width: calc(var(--btn-skip-size) + 20px);
		height: calc(var(--btn-skip-size) + 20px); 
	}
}

@media screen and (max-width: 600px){
	.header .header-content .introduce {font-size: 2rem;}
	.header .header-content .introduce h2{font-size: 3.5rem;}
	.container-content{font-size: 1.5rem;}
	.skip-btn{
		width: calc(var(--btn-skip-size) + 25px);
		height: calc(var(--btn-skip-size) + 25px); 
	}
}

















/* reset */



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* input reset */
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}
